* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;
}

a {
	margin-left: 16px;
}

h1 {
	padding: 16px;
}

ul {
	list-style: none;
}

ul > li {
	padding: 8px 0;
}
